.nmap_venv/
__pycache__/
*.pyc
.env
.ipynb_checkpoints/
data/raw_html/
data/extracted/
outputs/data/ 
outputs/ 
scratch/ 
data/ 
# Transcription results
src/agents/secretary_agent/transcription_results/
src/agents/secretary_agent/transcription_results/*

# Audio extracted files
*.wav
*.mp3
*.m4a

# Video downloads
downloads/
*.mp4
*.avi
*.mkv
*.mov